.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #afafaf;
  color: #000;
  font-size: 20px;
  line-height: 2;
}

.home-container h2 {
  font-size: 50px;
  line-height: 2.5;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  
}

.icons {
  font-size: 40px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.icon {
  color: rgb(43, 43, 43);
}

.icon:hover {
  color: #000000;
  text-shadow: 5 5 10px #000000;
}