.navbar {
  background-color: black;
}

.navbar a {
  padding: 10px;
}

.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 25px;
  opacity: 0.75;
}

