.App {
  text-align: center;
  background: black;
}


body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: rgb(255, 255, 255);
  font-family: 'Centra', sans-serif;
}

